/*create by chris in 2016-07-18*/

.nav-main {
    width: 100%;
    box-shadow: 0 2px 5px #ddd;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
    .navbar {
        min-height: 40px;
        height: 40px;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
        background-color: #fff;
        line-height: 40px;
        color: #888;
        font-size: 12px;
    }
    .navbar-header {
        span:first-child {
            margin-right: 30px;
        }
    }
    .navbar-nav {
        height: 40px;
        line-height: 40px;
        li {
            height: 40px;
            line-height: 40px;
        }
        a {
            padding: 0 15px;
            height: 40px;
            line-height: 40px;
        }
    }
}

.nav-input {
    .nblogo {
        height: 96px;
        background: url("../assets/images/logo.png") no-repeat center;
        background-size: 85%;
    }
    .serchbar {
        height: 44px;
        margin: 25px 0;
        padding: 0;
        padding-left: 15px;
        border: 1px solid #ddd;
        background-color: #fff;
        i {
        	display:inline-block;
        	vertical-align: middle;
            font-size: 20px;
            line-height: 38px;
            color: #999;
        }
        input {
        	display:inline-block;
        	vertical-align:middle;
        	width: 86%;
        	height:42px;
        	border:0;
        	text-indent: 20px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            width: 67px;
            text-align: center;
            height: 42px;
            line-height: 42px;
            font-size: 14px;
            color: #000;
            cursor: pointer;
        }
    }
    .cart{
        display: inline-block;
        vertical-align: middle;
        height: 44px;
        margin: 25px 0;
    }
}
.nav-content{
    display: inline-block;
    width: 100%;
    .container{
        border-bottom:2px solid #000;
    }
    li{
        list-style: none;
    }
    .all-content{
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        height: 36px;
        padding: 0 15px;
        line-height: 36px;
        font-size: 14px;
        color: #fff;
        background-color: #000;
    }
    .sub-nav{
        display: inline-block;
        vertical-align: middle;
        height: 36px;
        font-size: 14px;
        line-height: 36px;
        span{
            padding: 0 20px;
            a{
                display: inline-block;
                height: 36px;
                line-height: 36px;
                font-size: 14px;
                color: #333;
            }
        }
    }
}